* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  border-radius: 10px;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#profiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.profile-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  img
}

.profile-card h2 {
  font-size: 20px;
  margin: 10px 0;
}

.profile-card p {
  font-size: 16px;
  color: #666;
}

.profile-card button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-card button:hover {
  background-color: #0056b3;
}
